nav {
    position: sticky;
    #nav {
      ul {
        li {
          a {
            color: rgba(165, 165, 165, 0.7);
            &:hover {
              color: #fff;
            }
          }
          a.active {
            color: #fff;
          }
        }
      }
    }
    a {
      img {
        width: 2em;
      }
    }
  }
  