<app-search></app-search>
<div class="options">
    <div class="dropdown">
        <img src="https://img.icons8.com/ios-glyphs/100/000000/ellipsis.png" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <span *ngIf='!isAlreadyFavorite(currCityKey.key)'
                (click)='addToFavorites(currCityKey.name, currCityKey.key)' class="dropdown-itemp">
                <img src="https://img.icons8.com/material-outlined/40/000000/hearts.png">
                <p>Add to Favorites</p>
            </span>
            <span *ngIf='isAlreadyFavorite(currCityKey.key)' (click)='removefromFavorites(currCityKey.key)'
                class="dropdown-itemp">
                <img src="https://img.icons8.com/material/40/e74c3c/hearts--v1.png">
                <p>Remove from Favorites</p>
            </span>
            <div class="dropdown-divider"></div>
            <span (click)='switchDegreeMode()' class="dropdown-itemp">
                <img src="https://img.icons8.com/ultraviolet/40/000000/thermometer.png">
                <p>Switch to {{ degreeType === degreeTypes.Celsius ? 'Celsius' : 'Fahrenheit' }}</p>
            </span>
            <div class="dropdown-divider"></div>
            <span (click)='switchToGpsCity()' class="dropdown-itemp">
                <img src="https://img.icons8.com/offices/40/000000/worldwide-location.png">
                <p>Set local weather</p>
            </span>
            <div class="dropdown-divider"></div>
            <span (click)='changeForecastView()' class="dropdown-itemp">
                <img [src]="(isDayForecast) ? 'https://img.icons8.com/ultraviolet/40/000000/moon.png' :
                 'https://img.icons8.com/ultraviolet/40/000000/sun.png'">
                <p>View {{ isDayForecast === true ? 'night' : 'day' }} forecast</p>
            </span>
        </div>
    </div>
</div>

<div class="main">
    <div class="first-row" *ngIf='currCityWeather != undefined && currCityWeather.Temperature != undefined'>
        <div class="current-data">
            <span class="text-muted" *ngIf='degreeType !== degreeTypes.Celsius'>
                {{ currCityWeather.Temperature.Metric.Value }}°C</span>
            <span class="text-muted" *ngIf='degreeType === degreeTypes.Celsius'>
                {{ currCityWeather.Temperature.Imperial.Value }}°F</span>
            <div class="weatherText" *ngIf="currCityWeather">
                <p> {{ currCityWeather.WeatherText }} </p>
            </div>
        </div>
        <div class="current-city">
            <div class="city-wrapper">
                <p class="text-muted">Last update: {{ currCityWeather.LocalObservationDateTime | date :'mediumTime' }}
                </p>
                <span>{{ currCityKey.name }}</span>
                <img src="{{'assets/weatherIcons/' + currCityWeather.WeatherIcon}}-s.png">
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="last-row" *ngIf="weekForecasts.length > 0">
        <div class="week">
            <div class="day" *ngFor='let day of weekForecasts'>
                <div class="day-wrapper">
                    <span class="day-title">{{ getDays(day.Date) }}</span>
                    <img src="{{'assets/weatherIcons/' + day.Day.Icon}}-s.png" *ngIf='isDayForecast'>
                    <img src="{{'assets/weatherIcons/' + day.Night.Icon}}-s.png" *ngIf='!isDayForecast'>
                    <span class="weather-title text-muted">
                        {{(isDayForecast === true) ?
                                day.Day.IconPhrase :
                                day.Night.IconPhrase }}
                    </span>
                    <b *ngIf='isDayForecast'>{{ day.Temperature.Maximum.Value }}°{{ day.Temperature.Maximum.Unit }}</b>
                    <b *ngIf='!isDayForecast'>{{ day.Temperature.Minimum.Value }}°{{ day.Temperature.Minimum.Unit }}</b>
                    <div class="more-info text-muted" *ngIf='isMoreInfoOpen'>
                        <span class="more-info-item">RealFeel: {{day.RealFeelTemperature.Minimum.Value}}</span>
                        <span class="more-info-item">Sun rise: {{day.Sun.Rise | date :'shortTime'}}</span>
                        <span class="more-info-item">Sun set: {{day.Sun.Set | date :'shortTime'}}</span>
                        <span class="more-info-item">Moon rise: {{day.Moon.Rise | date :'shortTime'}}</span>
                        <span class="more-info-item">Moon set: {{day.Moon.Set | date :'shortTime'}}</span>
                        <span class="more-info-item">Rain chance: {{day.Day.PrecipitationProbability}}%</span>
                    </div>
                </div>

            </div>
        </div>
        <span class="more-info-img" (click)='getMoreInfo()'>
            {{isMoreInfoOpen === true ? 'Less info' : 'More info'}}
        </span>
    </div>
</div>