.main-preview {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 20em;
  @media (max-width: 415px){
    width: 18em;
    font-size: 0.7em;
}
  .col-preview {
      width: 50%;
    span {
      display: flex;
      flex-direction: column;
    }
    
  }
}
