.favorites {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .favorite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding: 1em;
    width: 49%;
    margin: 0.1em;
    box-shadow: 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    @media (max-width: 415px) {
      width: 100%;
    }
    .img-wrapper {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      img {
        width: 1em;
      }
    }
    .data-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      .img {
        width: 50%;
        @media (max-width: 415px) {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        img {
          width: 100%;
          @media (max-width: 415px) {
            width: 7em;
          }
        }
      }
      .data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin: 0.4em;
        width: 50%;
        b {
          padding: 2em 0;
        }
        .text-muted {
          font-size: 0.9em;
        }
      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: inset 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
    }
  }
}
.title {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}
